<h2 (click)="toggleAccordion()">
  <div class="container flex">
    <div class="date__icon">
      <span class="image-wrapper">
        <img [src]="image">
      </span>
      <span class="name">{{ day }}</span>
    </div>

    <div class="container-bar" [ngStyle]="applyStyleMargin()">
      <span>{{weatherService.roundNumber(dailyMinTemperature)}}&deg;</span>
      <span class="bar" [ngStyle]="applyStyleWidth()"></span>
      <span id="maxTemperature">{{weatherService.roundNumber(dailyMaxTemperature)}}&deg;</span>
    </div>
    <span *ngIf="isMenuOpen">-</span>
    <span *ngIf="!isMenuOpen">+</span>
  </div>
</h2>
<div [ngClass]="this.isMenuOpen ? 'active' : 'inactive'" id="container">
  <p>{{ description.summary }}</p>
  <app-information-bar 
    [description]="weatherService.jsonStringify(description)"
    [dayNumber]="dayNumber" ></app-information-bar>
</div>