<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="home">
  <ion-grid *ngIf="weather">
    <ion-row>
      <ion-col wdth-50 offset-25 class="center">
        <span *ngIf="searchedResult.address.station">{{searchedResult.address.station}},</span>
        <span>{{searchedResult.address.city}}, {{searchedResult.address.state}}</span>

        <div class="container__main">
          <div class="icon">
            <img src= {{getImageUrl(this.weather.currently.icon)}} >
          </div>
          <div class="container__temperature">
            <span class="temperature">
              {{ weatherService.roundNumber(weather.currently.temperature) }}&deg;
            </span>
            <br>
            <strong>Feels like: {{weatherService.roundNumber(weather.currently.apparentTemperature)}}&deg; </strong>
          </div>
      </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div>
          <span>Next 24 hours</span>
          <br>
          <span>{{this.weather.daily.summary}}</span>
        </div>
        <br>
        <div class="container__next24hours">
          <app-information-bar 
            [description]="weatherService.jsonStringify(weather)"
            [dayNumber]=0 >
          </app-information-bar>
        </div>
      </ion-col>
    </ion-row>

    <div id="week">
      <div class="summary">
        <h3>{{this.weather.daily.summary}}</h3>
      </div>
      <div class="day" *ngFor="let day of weather.daily.data; let i = index">
        <app-accordion 
          [dayNumber]="i"
          [day]="days[i]"
          [image]="getImageUrl(day.icon)"
          [dailyMaxTemperature]="day.temperatureMax"
          [dailyMinTemperature]="day.temperatureMin"
          [description]="weatherService.jsonStringify(weather)"
          [weeklyMaxTemperature]="getMaxTemperatureOfTheWeek()"
          [weeklyMinTemperature]="getMinTemperatureOfTheWeek()"></app-accordion>
      </div>
    </div>
