.container_next24Hours{
    height: 100vh;
}

ion-header{
    height: 6vh;
    display: flex;
    align-items: center;
    padding: 0 0 0 1rem;
}

ion-icon{
    height: 40px;
    width: 40px;
}

.container_searchedResult{
    margin-left: 20px;
}
/* ion-toolbar{
    display: block;
    height: 5vh;
    align-items: stretch;

}
ion-toolbar{
    --background: var(--ion-color-primary);
} */

ion-title{
    --color: var(--ion-color-light);
    text-align: center;
}

ion-item{
    --background: #eee;
    --color: var(--ion-color-dark);
}

strong{
    margin-right: 10px;
}

.icon{
    text-align: center;
    height: 100%;
}

img{
    height: 100%;
    width: auto;
}
.temperature{
    font-size: 90px;
    text-align: center;
}

.hourly_summary{
    text-align: center;
}

.center{
    text-align: center;
}

.container__main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
}

.container__temperature{
    font-size: 1em;
}

.title{
    font-size: 1.5em;
    font-weight: bold;
}