<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="home">
  <ion-grid *ngIf="weather">
    <ion-row>
      <ion-col wdth-50 offset-25 class="center">
        <h2>
        <a *ngIf="searchedResult.address.station">{{searchedResult.address.station}},</a> <a>{{searchedResult.address.city}}, {{searchedResult.address.state}}</a>
      </h2>
        <div class="icon">
          <img src= {{getImageUrl(this.weather.currently.icon)}} >
        </div>
        <h4 class="hourly_summary">
          {{weather.hourly.summary}}
        </h4>
        <h1 class="temperature">
          {{ roundNumber(weather.currently.temperature) }}&deg;
        </h1>
        <strong>Apparent Temperature: </strong> {{roundNumber(weather.currently.apparentTemperature)}}&deg;

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col width-100>
        <ion-list>

          <ion-item>
            <strong>Wind: </strong> {{roundNumber(weather.currently.windSpeed)}} m/s
          </ion-item>

          <ion-item>
            <strong>UV index: </strong> {{weather.currently.uvIndex}}
          </ion-item>
          <ion-item>
            <strong>Humidity: </strong> {{weather.currently.humidity}}
          </ion-item>
          <ion-item>
            <strong>Visbilibity: </strong> {{roundNumber(weather.currently.visibility)}}+ km
          </ion-item>


        </ion-list>
      </ion-col>
    </ion-row>

    <div id="week" class="center">
      <div class="summary">
        <h3>{{this.weather.daily.summary}}</h3>
      </div>
      <div class="day" *ngFor="let day of weather.daily.data; let i = index">
        <app-accordion 
          day={{days[i]}}
          image="{{getImageUrl(day.icon)}}"
          dailyMaxTemperature={{day.temperatureMax}}
          dailyMinTemperature={{day.temperatureMin}}
          description={{jsonStringify(day)}}
          weeklyMaxTemperature={{getMaxTemperatureOfTheWeek()}}
          weeklyMinTemperature={{getMinTemperatureOfTheWeek()}}></app-accordion>
      </div>
    </div>
