/* .home{
    --background: var(--ion-color-secondary);
    margin-top: 30px;
} */
ion-toolbar{
    --background: var(--ion-color-primary);
}

ion-title{
    --color: var(--ion-color-light);
    text-align: center;
}

ion-item{
    --background: #eee;
    --color: var(--ion-color-dark);
}

strong{
    margin-right: 10px;
}

.icon{
    text-align: center;
}

.temperature{
    font-size: 90px;
    text-align: center;
}

.hourly_summary{
    text-align: center;
}

.center{
    text-align: center;
}

.container__main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__temperature{
    font-size: 1em;
}
